/*-------------------------------- 
fonts
---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* -------------------------------
common-styles
---------------------------------- */
body{
    font-family: 'Poppins', sans-serif;
}


.flex-container{
    display: flex;
    align-items: center;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

}

/*-------------------------------
top-banner-styles 
---------------------------------*/
.top-banner{
    display: flex;
    align-items: center;
    background-color: #2D25A0;
    color: #FFFFFF;
    padding-bottom: 106px;
    padding-left: 156px;
    padding-right: 140px;
    padding-top: 45px;
    transition:background-color 2s linear,color 2s ease-in-out;
}
.top-banner:hover{
    background-color: cyan;
    color: rgb(90, 119, 32);
}
.top-banner:hover .button{
    transform: rotate(360deg);
}

.half-width{
    width: 50%;
}
.title-des h1{
    font-size: 64px;
    margin: 0px 50px 0px 0px;
}
.half-width img{
    width: 100%;
}

/* --------------------------------
players-styles
----------------------------------- */

.players-list{
    display: flex;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 165px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;

}
.players img{
    width: 100%;
}
.player{
    padding: 15px;
    box-shadow: 5px 5px 20px gray;
}
.player h3{
    font-size: 28px;
}
/*-------------------------------------
 highlights-styles
 -------------------------------------- */
.highlights{
    display: flex;
    align-items: center;
    margin-left: 182px;
    margin-right: 156px;
    margin-bottom: 165px;  
}
article{
    padding-right: 69px;
}
article h2{
    font-size: 48px;
    font-weight: 700;
}



/*-------------------------------
 match-status-styles
 -------------------------------- */

.match-status{
    display: flex;
    justify-content: center;
    align-items: center

}
.match h2{
    font-size: 35px;
    text-align: center;
}
.current-match{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.current-match img{
    width: 100%;
}
.country-1{
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
}
.country-2{
    background-color: green;
    color: yellow;
    padding: 10px 50px;
}
.flag{
    width: 50%;
}
.flag img{
    width: 100%;
}

/*--------------------------------
 more-football-styles
---------------------------------- */
.more-football{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.more-title h1{
    font-size: 58px;
    padding-left: 25px;
}



/*------------------------------------- 
Footer-Styles 
---------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo img{
    width: 100%;
}
.footer-logo{
    width: 30%;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icon{
    margin: 0px 7px;
    color: gray;
}

/*--------------------------------- 
Media Queries 
-----------------------------------*/
/*--------------------------------- 
Mobile devices
-----------------------------------*/
@media only screen and (max-width:688px)
{
    .top-banner,.highlights,.match-status,.current-match,.more-football{
        flex-direction: column;
        width: 100%;
    }
    .h-image,.b-img{
        padding-top: 50px;
    }
    .players-list,.half-width,.footer-logo,.footer-info{
        width: 100%;
    }
    .match-status{
        margin-left: 150px;
        margin-bottom: 70px;
    }

    .more-title h1{
        font-size: 38px;
        padding-top: 10px;
        padding-left: 25px;
    }
    footer{
        width: 400px;
        margin-left: 120px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
}

/*----------------------------------- 
tablet devices
------------------------------------- */
@media only screen and (min-width:689px) and (max-width:992px)
{

    .top-banner,.highlights,.match-status,.current-match,.more-football{
        flex-direction: column;
        width: 100%;
    }
    .h-image,.b-img{
        padding-top: 50px;
    }
    .players-list,.half-width,.footer-logo,.footer-info{
        width: 100%;
    }
    .match-status{
        margin-left: 150px;
        margin-bottom: 70px;
    }

    .more-title h1{
        font-size: 40px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .more-football{
        padding-left: 250px;
    }

    footer{
        width: 400px;
        margin-left: 350px;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
}

